# Environment / secrets
.env

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
build/

# uv
uv.lock

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Dagster
dagster_home/storage/
dagster_home/logs/
dagster_home/schedule_logs/
dagster_home/compute_logs/

# Docker
*.log
